$font-stack: "Iowan Old Style", "Georgia", serif;
$font-stack-headers: "Mrs Eaves", "Monotype Baskerville", "Garamond", "Palatino", serif;
$font-stack-title: "Bodoni 72", "Bodoni MT", "Bodoni", $font-stack-headers;
$font-stack-sans: sans-serif;

:root{
  --color-primary-main: #F44336;
  --color-primary-light: #ff7961;
  --color-primary-dark: #ba000d;
  --color-secondary-main: #7C4DFF;
  --color-secondary-light: #b47cff;
  --color-secondary-dark: #3f1dcb;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
}

/*
nav{
    a{
        .nav-link-current {
            color: green;
        }
    }
}
*/

body {
    /*font-size: 1.25em; */
    font-family: $font-stack;
    color: var(--color-text-dark);
    font-variant-numeric: oldstyle-nums proportional-nums;
    font-variant-ligatures: discretionary-ligatures;
}

#site-title  {
    font-size: 2.5em;
    font-family: $font-stack-title;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 0.5em;

    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        color: var(--color-primary-light);
    }

    @media (max-width: 450px) {
        font-size: 25px;
    }
}

a {
    color: var(--color-primary-main);
}
a:visited {
    color: var(--color-primary-dark);
}
a:hover {
    color: var(--color-primary-light);
}
a.readmore {
    font-style: italic;
    font-size: .75em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-stack-headers;
}

article {
    h1,h2,h3,h4,h5,h6 {
        font-size: 2em;
        font-style: italic;
    }
    header{
        font-size: 1.25em;
        @media (min-width: 371px) and (max-width: 450px) {
            font-size: .95em;
        }
        @media (max-width: 370px) {
            font-size: .85em;
        }
        h1 {
            font-weight: 300;
            margin-bottom: .2em;
            a {
                color: var(--color-text-dark);
                text-decoration: none;
            }
            a:visited {
                color: var(--color-text-dark);
            }
            a:hover {
                color: var(--color-primary-light);
            }
        }
        .post-meta {
            font-family: $font-stack-headers;
            font-style: italic;
            margin-top: 0;
            font-size: 1.1rem;
        }
    }
    .post-content {
        text-align: left;

        p {
            line-height: 1.25em;
        }

        time {
            font-variant-numeric: lining-nums;

            span.time-delimiter {
                font-variant-caps: all-small-caps;
            }
        }
    }

    img {
        width: 100%;
    }

    figure {
        max-width: 100%;
        max-height: 75%;
        margin-bottom: .75em;
        margin-left: 0em;
        margin-right: 0em;
        display: block;
        text-align: center;

        figcaption {
            font-style: italic;
            text-align: center;
            font-family: $font-stack-headers;
            font-size: 1.25em;
        }
    }

    @media (min-width: 500px) and (max-width: 650px) {
        figure.float-right {
            max-width: 60%;
            float: right;
            margin-left: 1.5em;
            margin-right: -0.5em;
        }

        figure.float-left {
            max-width: 60%;
            float: left;
            margin-right: 1.5em;
            margin-left: -0.5em;
        }
    }

    @media (min-width: 651px) {
        figure.float-right {
            max-width: 50%;
            float: right;
            margin-left: 1.5em;
            margin-right: -0.5em;
        }

        figure.float-left {
            max-width: 50%;
            float: left;
            margin-right: 1.5em;
            margin-left: -0.5em;
        }
    }
}

nav {
    text-align: center;
    color: var(--color-primary-main);
    a {
        text-decoration: none;
        color: inherit;
    }
    ul,ol {
        padding: 0;
        list-style: none;
        list-style-type: none;

        li {
            display: inline-block;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
        }
        font-size: 1.25em;

        @media (max-width:450px) {
            font-size: 12px;
            display:unset;
            list-style: unset;
        }

        @media (min-width: 451px) and (max-width: 600px) {
            font-size: .8em;
        }
    }
}

.content,nav {
    /* width: 100%; */
    padding-right: 28px;
    padding-left: 28px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;

    @media (min-width: 401px) and (max-width: 500px) {
        padding-right: 10px;
        padding-left:10px;
    }
    @media (max-width: 400px) {
        padding-right: 4px;
        padding-left: 4px;
    }
}

::selection {
    background: var(--color-secondary-dark);
    color: var(--color-text-light);
}

ul,ol {
    li {
        padding-bottom: 1em;
    }
}

blockquote {
    border-left: var(--color-primary-main);
    border-left-width: medium;
    border-left-style: solid;
    padding-right: .25em;
    padding-left: .5em;
    background-color: #f9f9f9;

    @media (max-width:450px) {
        margin-left: 2px;
        margin-right: 2px;
    }
}

blockquote.retelling {
    font-style: italic;
}

.pagination {
    margin-top: 2em;
    text-align: center;
    .previous {
        text-align: left;

    }
    .page_number {
        text-align: center;
    }
    .next {
        text-align: right;
    }
}

.paginator-content {
    figure {
        display: none;
        visibility: hidden;
    }
}
