<!doctype html>

<html lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{%- if page.title != null -%}{{ page.title }}&#32;|&#32;{%- endif -%}{{ site.title }}</title>

    <link rel="icon"
        type="image/vnd.microsoft.icon"
        href="{{ site.url }}/assets/img/vomiting-emoji.ico" />
    <link rel="stylesheet" type="text/css"
    href="{{ site.url }}{{ site.baseurl }}/assets/css/styles.css" />

    <!-- Open Graph -->

    {%- unless page.title == nil or page.title == "" -%}
    <meta property="og:title" content="{{ page.title }}" />
    {%- endunless -%}

    <meta property="og:type" content="article" />

    {%- unless page.date == nil or page.date == "" -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    {%- endunless -%}

    <meta property="article:author" content="https://www.facebook.com/danielglennleonard" />
    <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.url | prepend:site.baseurl | prepend:site.url }}" />

    {%- assign image_protocol = page.header_image | slice: 0, 4 -%}
    {%- if image_protocol == "http" -%}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ page.header_image }}" />
    {%- elsif image_protocol != nil and image_protocol != "" -%}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ site.baseurl | prepend:site.url }}/assets/img/{{ page.header_image }}" />
    {%- else -%}
    <meta name="twitter:card" content="summary" />
    {%- endif -%}
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
    src="https://www.googletagmanager.com/gtag/js?id=UA-56093027-2">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-56093027-2');
    </script>
</head>

<body>
    <header>
        {% include header.html %}
        {% include navigation.html %}
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>
